
.body
{
  margin: 0 auto;
  width: 900px;
}
h1{
  text-align: center;
  font-family: sans-serif;
  color: gray;
}
h3{
  text-align: center;
}

.main{
  position: absolute;
  top: 40px;
  left: 400px;
  margin: 0 autox;
}


.circle{
  height: 70px;
  width: 70px;
  border: 5px solid gray;
  margin: 0 auto;
  color: gray;


}
.circle:hover {
  background: #C2DBFC;
  text-align: center;
}
.player1 h3{
  text-align: center;
  color: gray;
}
.player2 h3{
  text-align: center;
  color: gray;
}

.player1 {
height: 110px;
width: 110px;
border: 5px solid gray;
position: absolute;
top: 150px;
left:250px;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
}

.subplayer1{

height: 50px;
width: 50px;
border-radius: 50%;
border: 2px solid black;
position: absolute;
top: 50px;
left: 25px;
background-color: red;

}
.player2 {
height: 110px;
width: 110px;
border: 5px solid gray;
position: absolute;
top: 150px;
left: 1020px;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
}

.subplayer2{
height: 50px;
width: 50px;
border-radius: 50%;
border: 2px solid black;
position: absolute;
top: 50px;
left: 25px;
background-color: blue;

}

.clearbutton button{

  background-color: gray;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  width: 200px;
  position: relative;
  left: 200px;
  font-size: 30px;
}

.clearbutton button:hover{
  color: #686e87;
}
